---
import Base from "$layouts/Base.astro";
export const prerender = false;
---

<style>
	@keyframes shaky {
		0% {
			transform: translate(0, 0) rotate(0deg);
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg);
		}
		20% {
			transform: translate(-3px, 1px) rotate(1deg);
		}
		30% {
			transform: translate(2px, -1px) rotate(0deg);
		}
		40% {
			transform: translate(1px, 2px) rotate(1deg);
		}
		50% {
			transform: translate(-1px, -1px) rotate(-1deg);
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
		}
		70% {
			transform: translate(2px, 1px) rotate(-1deg);
		}
		80% {
			transform: translate(-1px, -2px) rotate(1deg);
		}
		90% {
			transform: translate(2px, 2px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-1deg);
		}
	}

	div {
		animation: shaky 0.6s infinite;
	}
</style>

<Base title="404">
	<main class="contents">
		<div class="inline-flex flex-col items-center justify-center gap-2 text-center grow-0.5">
			<span class="text-6xl font-bold">404</span>
			<span class="text-2xl">Not Found</span>
		</div>
		<a href="/" class="text-lg text-center link">&gt; <span>back</span></a>
	</main>
</Base>
